{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "printWidth": 100,
    "endOfLine": "lf",
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "jsxBracketSameLine": false,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "embeddedLanguageFormatting": "auto",
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "printWidth": 120
            }
        },
        {
            "files": "*.md",
            "options": {
                "proseWrap": "always"
            }
        }
    ]
}